.weather-app {
  border: 10px solid #83ae98;
  width: 1100px;
  height: 800px;
  max-width: 1100px;
  max-height: 768px;
  margin: 0 auto;
  padding: 10px;
}

.search {
  text-align: center;
  margin: 0px auto;
  border-radius: 70%;
  width: fit-content;
  min-height: 90px;
}

.searchLocation {
  font-size: 30px;
  padding-left: 7px;
  margin-top: -15px;
  padding-bottom: 0px;
  color: #6c757d;
}

.today {
  padding-left: 50px;
  margin: -45px 0px 0px;
}

.date {
  font-size: 80px;
}

.month {
  font-size: 25px;
  padding-left: 12px;
  padding-bottom: 0px;
  margin: 39px 0px 0px;
}

.day {
  font-size: 20px;
  padding-left: 12px;
  margin: -28px 0px 0px;
}

.datatoday {
  border: 10px solid #83ae98;
  width: 510px;
  height: 510px;
  text-align: center;
  margin: -65px auto;
  border-radius: 500px;
}
.temp {
  font-size: 80px;
  margin: auto 0px;
  text-align: center;
  display: inline;
}

.units {
  position: relative;
  top: -45px;
}

.min,
.max {
  margin: 100px 0px 0px;
  text-align: center;
}

.weathericon {
  font-size: 210px;
  margin: -30px;
  padding-left: 50px;
  padding-right: 50px;
}
.datalist {
  list-style-type: none;
  text-align: center;
  padding: 10px 0px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
}

.temperatureDescription {
  text-transform: capitalize;
}
.footer {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}
.card {
  display: inline-block;
  max-width: 190px;
}

.githubLink {
  display: block;
  margin: 0 auto;
  padding-left: 450px;
  padding-top: 20px;
}
